description = "Portfolio Partial"
==
<section class="portfolio section-sm" id="portfolio">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Наши Работы</h2>
                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквоград, которое. Сих строчка взобравшись однажды города вершину.</p>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="portfolio-filter">
                    <button type="button" data-filter="all">All</button>
                    <button type="button" data-filter="photography">Photography</button>
                    <button type="button" data-filter="ios">IOS App</button>
                    <button type="button" data-filter="development">Development</button>
                    <button type="button" data-filter="design">Design</button>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="filtr-container">
                        
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, design">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/01E8DFF9-A390-470D-9E6B-8EFDC2457369.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/01E8DFF9-A390-470D-9E6B-8EFDC2457369.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, design, ios">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/0893F29C-1CF8-4D97-A3FF-66FD4D1E4B8E.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/0893F29C-1CF8-4D97-A3FF-66FD4D1E4B8E.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, photography, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/1C9D86A5-F8F5-42A5-B107-EA8D8B1E5722.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/1C9D86A5-F8F5-42A5-B107-EA8D8B1E5722.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, photography, ios">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/2011F801-699A-47DC-8F04-66667682A309.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/2011F801-699A-47DC-8F04-66667682A309.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, design">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/52523790-DFAF-4551-9A99-8527A37227DA.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/52523790-DFAF-4551-9A99-8527A37227DA.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/5D123299-EB91-4640-9D15-16A68B4F8209.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/5D123299-EB91-4640-9D15-16A68B4F8209.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, photography">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/7716D0BA-DFBD-456B-981F-5C5DAFDE3A09.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/7716D0BA-DFBD-456B-981F-5C5DAFDE3A09.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/77912B43-2D5E-44B5-B736-9B01C6F90374.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/77912B43-2D5E-44B5-B736-9B01C6F90374.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/8B935BAD-0875-43B8-8A71-95916F692D3F.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/8B935BAD-0875-43B8-8A71-95916F692D3F.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/9375DB0E-4218-4C9C-BFD7-BB556A8A0D32.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/9375DB0E-4218-4C9C-BFD7-BB556A8A0D32.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/A9830672-BF7C-4C30-BC51-1361E8CFFA41.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/A9830672-BF7C-4C30-BC51-1361E8CFFA41.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/C48952D2-400F-497E-93F0-DAEB66CF946C.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/C48952D2-400F-497E-93F0-DAEB66CF946C.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/C8CD0043-ADFE-4390-B22B-5BB65A19148B.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/C8CD0043-ADFE-4390-B22B-5BB65A19148B.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/CC4A5F9E-9563-4FF8-8383-69B28B4AFD12.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/CC4A5F9E-9563-4FF8-8383-69B28B4AFD12.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/F5EC5322-5CD7-47D6-A75F-6776C0D7E962.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/F5EC5322-5CD7-47D6-A75F-6776C0D7E962.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_1544.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_1544.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_1545.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_1545.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_1546.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_1546.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_1547.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_1547.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_1548.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_1548.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_1549.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_1549.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_6823.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_6823.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_6824.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_6824.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_6825.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_6825.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_6843.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_6843.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_6844.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_6844.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'portfolio/IMG_6846.jpg' | media | resize(674, 674, { mode: 'crop'}) }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'portfolio/IMG_6846.jpg' | media | resize(674) }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- /end col-lg-12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- End section -->