description = "CTA Partial"
==
<section class="call-to-action section" style="--bg: url({{'site/call-to-action.jpg' | media | resize(1024) }})">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 text-center">
                <h2>Свяжитесь с нами</h2>
                <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопроса она языкового заманивший но имени семь составитель приставка ipsum?</p>
                <a href="{{ 'contact'|page }}" class="btn btn-transparent mt-3">Контакты</a>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->