<section class="about-2 section" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center">
          <h2>Услуги</h2>
          <p>Мы осуществляем следующие виды услуг</p>
          <div class="border"></div>
        </div> <!-- End title -->
      </div> <!-- End col -->
    </div> <!-- End row -->

    <div class="cards row pt-3">

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/1.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Безрамное остекление веранды</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/2.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Безрамное остекление террасы</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/3.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Безрамное остекление балконов</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/4.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Стеклянные полы</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/5.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Цельностеклянные витрины</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/6.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Пристройки из стекла</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/7.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Стеклянные перегородки</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/8.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Стеклянные козырьки</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/9.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Двери из стекла</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/10.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Перила из стекла</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card_main" style="--bg: url({{'services/11.jpg' | media | resize(350) }});">
          <div class="card__content_main h-100">
            <h3>Входные группы из стекла</h3>
            <div class="d-flex justify-content-center align-items-end"><a class="btn btn-transparent"
                href="{{ 'input-groups'|page }}">Подробнее</a></div>
          </div> <!-- End card__content -->
        </div> <!-- End card -->
      </div> <!-- End col -->

    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->