.btn_theme {
    border-radius: 0;
    border: 1px solid #fff;
    font-size: .8em;
    padding: .8em 1.8em;
    text-transform: uppercase
}

.btn_theme,
.btn_transparent:hover {
    background: var(--accent)
}

.btn_transparent {
    background-color: transparent
}

.btn_theme,
.btn_theme:hover {
    color: #fff
}
