.card.card_theme {
    border: none;
    border-radius: 0;
}

.card_theme,
.card_theme:hover .card__btn:hover {
    color: #fff;
}

.card_theme:hover .card__btn {
    border-color: #000;
    color: #000;
}

.card_theme:hover .card__btn:hover {
    border-color: #fff
}